*,:after,:before {
    box-sizing:border-box;
    background-color:inherit;
    color:inherit;
    margin:0;
    padding:0;
}

body {
    font-family: 'Inconsolata', monospace;
    src: url("../assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height:1.5;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

pre {
    margin: .5rem 0;
    padding: .5rem;
}

.post p {
    margin: .5rem 0;
}

.post h1, .post h2, .post h3, .post h4 {
    margin: 1rem 0;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
    margin-top: 0;
}

.meta {
    margin: 2rem 0;
}

code,pre {
    background: #c0c0c0;
}

code {
    padding: .1rem;
}

pre code {
    border: none;
}

pre {
    padding: 1rem;
    overflow-x: auto;
}

img {
    max-width:100%;
}

hr {
    background: #fff;
    height: 1px;
    border: 0;
}

header {
    flex-basis:10rem;
    flex-grow:1;
    position:relative;
}

header a {
    text-decoration: none;
}

header li {
    margin-bottom: .2rem;
    text-align: right;
    margin-right: 2rem;
}

header a.active {
    font-weight: bold;
}

header,section {
    padding:1rem;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #c0c0c0;
    padding-left: 1rem;
}


section h1:first-child {
    margin-top: 0;
}

strong, b {
    font-weight: bold;
}

.photos ul {
    list-style: none;
}

.photos li {
    margin-bottom: 1.5rem;
}

.photo picture, .project picture {
    margin-bottom: 0.5rem;
}

.posts ul,header ul {
    list-style:none;
}

.posts li {
    align-items:center;
    display:flex;
    justify-content:space-between;
    margin-bottom: .5rem;
}

.posts li a, .posts li div, .projects li a {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-decoration: none;
}

.posts li time, .projects li time {
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
}

.post ul, .project ul, .post ol  {
    //list-style-position: inside;
}

main {
    display:flex;
    flex-wrap:wrap;
    max-width:60rem;
    margin:1rem auto;
    padding:1rem;
}


@media screen and (max-width: 45rem ) {
    header li {
	display: inline;
	margin-right: 1rem;
    }
    .logo {
	padding-bottom: 1rem;
    }

    nav ul {
	border-right: 0px;
    }

    .photos ul {
	margin-top: 0.5rem;
    }

}

section {
    flex-basis:0;
    flex-grow:999;
    min-width:70%;
    display:flex;
    flex-direction:column;
    
}

figcaption {
    font-size: smaller;
}

ol {
    padding-left: 20px;
}

/*-- search --*/

#search-container {
    max-width: 100%;
}

input[type=text] {
    font-size: normal;
    outline: none;
    padding: 1rem;
    background: #000;
    color: #fff;
    width: 100%;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    border: 1px solid #fff;
}
#results-container {
    margin: .5rem 0;
}
